:root {
  --primary-color: #fc7f09;
  --primary-color-light: #fffcfa;
  --primary-color-dark: #db6e09;
  --text-dark: #18181b;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1400px;
}
*{
  
  font-family: "Montagu Slab", sans-serif;
}
body {
    margin: 0;
    background-color: var(--primary-color-light);
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--primary-color-light);
    box-shadow: 0 4px 6px rgba(34, 26, 26, 0.719);
    border-radius: 8px;
    text-align: center;
  }
  
  .login-header h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .login-header span {
    color: var(--primary-color);
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .login-form label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .login-form .btn {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form .btn:hover {
    background-color: var(--primary-color);
  }
  
  .login-footer {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-footer a {
    color: var(--primary-color);
    font-size: 1rem;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  